

Library
Temp
UserSettings
obj
*.csproj
*.sln
*.pidb
*.userprefs
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata

plugins/iOS/build
plugins/Mac/build
build/Packager/Assets/Plugins
